<nav class="navbar navbar-light pt-3 pb-3" role="navigation">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">To Do List app</a>
        </div>
        <div class="navbar-header">
            <img src="{{ asset('img/logo.png') }}" alt="OpenClassrooms" style="width: 50px" />
        </div>
    </div>
</nav>