{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_edit', { 'slug' : task.slug })}) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success pull-right updateButton"><i class="fa-solid fa-file-pen left"></i> Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
